client/GISA/obj/
client/GISA.Reports/obj/
client/GISA.Search/obj/
client/GISA.Model/obj/
client/GISA.SharedResources/obj/
client/GISA.IntGestDoc/obj/
client/GISA.Webservices/obj/
client/GISA/bin/
client/GISA.IntGestDoc.Tests/obj/
client/GISA.IntGestDoc.Tests/bin/
client/GISA.IntGestDoc/bin/
client/GISA.UnitTests/obj/
client/GISA.UnitTests/bin/
client/GISA.Import/obj/
client/GISA.Utils/obj/
client/GISA.GUIHelper/obj/
client/GISA.EADGen/obj/
client/GISA.EADGen/bin/
client/GISA.DBAccess/DBAbstractDataLayer/obj/
client/GISA.Fedora/Handler/bin/
client/GISA.DBAccess/CustomCommandBuilder/obj/
client/GISA.Fedora/Handler/obj/
client/GISA.Controls/PxNumericBox/obj/
web/GisaEDM/bin/
web/GisaEDM/obj/
client/GISA.Controls/PxListView/obj/
client/GISA.Controls/PxDateBox/obj/
server/DatabaseScripts/Migrations/NewestUpdate.sql
server/DatabaseScripts/DatabaseInstallScript/set_database_version_number.sql
client/GISA.Webservices/bin/
client/GISA.Controls/PxComboBox/obj/
client/GISA.Controls/PxComboBox/bin/
client/GISA.Controls/PxDateBox/bin/
client/GISA.Controls/PxBreadCrumbsPath/obj/
client/GISA.GUIHelper/bin/x86/
client/GISA.Import/bin/x86/
client/GISA.Controls/PxListView/bin/
web/GisaWeb.Tests/bin/
client/GISA.Controls/OutlookBar/LS_UI/obj/
client/GISA.Controls/Localizacao/obj/
web/GisaWeb/bin/
client/GISA.Controls/GISA.Controls.Nivel/obj/
client/GISA.Controls/GISA.Controls.ControloAut/obj/
client/GISA.Controls/GISA.Controls.PxDataGridView/obj/
client/GISA.Controls/PxBreadCrumbsPath/bin/
client/GISA.Controls/GISA.Controls.Nivel/bin/
web/GisaWeb/obj/
client/GISA.Controls/DropDownTreeView/obj/
web/GisaWeb.Tests/obj/
client/GISA.Controls/GISA.Controls.ControloAut/bin/
client/AssemblyInfosShared/AssemblyInfoShared.cs
client/GISA.Controls/DoubleProgressBar/obj/
client/GISA.Controls/DropDownTreeView/bin/
installer/Resources/readme.txt
server/GISAServer/GISAServer.Service/bin/
server/GISAServer/GISAServer.SearchTester/bin/
server/GISAServer/GISAServer.WebServerTester/obj/
server/GISAServer/GISAServer.WebServerTester/bin/
server/GISAServer/GISAServer.WebServer/obj/
server/GISAServer/GISAServer.WebServer/bin/
server/GISAServer/GISAServer.Service/obj/
server/GISAServer/GISAServer.SearchTester/obj/
server/GISAServer/GISAServer.Search/obj/
server/GISAServer/GISAServer.Search/bin/
server/GISAServer/GISAServer.Hibernate/bin/
server/GISAServer/GISAServer.Hibernate/obj/
server/GISAServer/GISAServer.HibernateTester/obj/
server/GISAServer/GISAServer.HibernateTester/bin/
web/Backup/
web/UpgradeLog.htm
client/GISA.Controls/DropDownTreeView/Doc/DropDownTreeView.xml
web/packages/
web/.vs/
web/Gisa/obj/
web/Gisa/bin/
web/Gisa.EDM/obj/
web/Gisa.EDM/bin/
web/Gisa.Search/obj/
web/Gisa.Search/bin/
client/GISA.Model/bin/
client/GISA.Reports/bin/
client/GISA.GUIHelper/bin/
client/GISA.Import/bin/
client/GISA.DBAccess/CustomCommandBuilder/bin/
client/GISA.Controls/PxNumericBox/bin/
client/GISA.DBAccess/DBAbstractDataLayer/bin/
client/GISA.Controls/OutlookBar/LS_UI/bin/
client/GISA.Controls/Localizacao/bin/
client/GISA.SharedResources/bin/
client/GISA.Utils/bin/
client/GISA.Search/bin/
client/GISA.Controls/GISA.Controls.PxDataGridView/bin/
client/GISA.Controls/DoubleProgressBar/bin/
licensing/ParadigmaXis.LicenseBuilder/obj/
licensing/ParadigmaXis.LicenseBuilder/bin/
licensing/ParadigmaXis.Utils/obj/
licensing/ParadigmaXis.Utils/bin/
*.suo
*.csproj.user
*.sln.cache
server/DatabaseScripts/DatabaseInstallScript/DBInstallScript.sql
