<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="solr" type="org.apache.solr.SolrSharp.Configuration.SolrConfigurationSection, SolrSharp" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <solr>
    <server mode="ReadWrite" url="http://helios/solr/" />
  </solr>

</configuration>