<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>

    <logger name="GISAServer">
      <level value="ALL"/>
      <appender-ref ref="RollingLogFileAppenderDebug" />
      <appender-ref ref="RollingLogFileAppenderError" />
    </logger>
    
    <root>
      <level value="ERROR" />
      <appender-ref ref="RollingLogFileAppenderExternalError" />
    </root>

    <appender name="RollingLogFileAppenderDebug" type="log4net.Appender.RollingFileAppender">
      <file value="logs/debug.log"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="INFO" />
      </filter>
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value=".yyyy-MM-dd.LOG" />
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger:%line - %message%newline" />
      </layout>         
    </appender>

    <appender name="RollingLogFileAppenderError" type="log4net.Appender.RollingFileAppender">
      <file value="logs/error.log" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="FATAL" />
      </filter>
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value=".yyyy-MM-dd.LOG" />
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger:%line - %message%newline"/>
      </layout>
    </appender>
    
    <appender name="RollingLogFileAppenderExternalError" type="log4net.Appender.RollingFileAppender">
      <file value="logs/external-error.log" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="FATAL" />
      </filter>
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value=".yyyy-MM-dd.LOG" />
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger:%line - %message%newline"/>
      </layout>
    </appender>
  </log4net>
</configuration>
