<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <bytecode-provider type="lcg"/>
    <reflection-optimizer use="true"/>
    <session-factory name="NHibernate.Nc">
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="cache.provider_class">NHibernate.Cache.HashtableCacheProvider, NHibernate</property>
      <property name="cache.use_query_cache">true</property>
      <property name="prepare_sql">false</property>
      <property name="query.startup_check">false</property>
      <property name="connection.isolation">ReadCommitted</property>

      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">
        initial catalog=GISA;Integrated Security=SSPI;Data Source=ASUS-WIN7PRO\SQLEXPRESS;Min Pool Size=10
      </property>
      
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>

      <!-- <property name="dialect">NHibernate.Dialect.OracleDialect</property> -->
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      
      <property name="show_sql">true</property>
      
      <mapping assembly="GISAServer.Hibernate" />
    </session-factory>
  </hibernate-configuration>
</configuration>