<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GISA.Fedora.FedoraHandler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GISA.Fedora.FedoraHandler.Properties.Settings>
            <setting name="GISA_Fedora_FedoraHandler_Fedora_APIA_Fedora_API_A_Service"
                serializeAs="String">
                <value>http://localhost:8080/fedora/services/access</value>
            </setting>
            <setting name="GISA_Fedora_FedoraHandler_Fedora_APIM_Fedora_API_M_Service"
                serializeAs="String">
                <value>http://localhost:8080/fedora/services/management</value>
            </setting>
        </GISA.Fedora.FedoraHandler.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
