<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="GISA.ServerLocation" value="Apolo\GISA"/>
    <add key="GISA.DataSource" value="GISA"/>
    <add key="GISA.SearchServer" value="http://apolo:8888/"/>
    <add key="GISA.FedoraEnabled" value="true"/>
    <!--<add key="GISA.LDAPServerName" value=""/>
    <add key="GISA.LDAPServerSettings" value=""/>
    <add key="GISA.CMPUsername" value=""/>
    <add key="GISA.CMPPassword" value=""/>-->

  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
